.container {
    width: 100%;
}

.main {
    width: 50%;
    text-align: left;
    margin-top: 10%;
    margin-left: 25%;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

.choice-container {
    line-height: 10px;
}