.container {
    width: 100%;
}

#main {
    width: 50%;
    text-align: center;
    margin-top: 10%;
    margin-left: 25%;
}

#quiz {
    width: 50%;
    text-align: center;
    margin-top: 10%;
    margin-left: 25%;
}

.scores {
    position: absolute;
    top: 10px;
    left: 10px;
}

.timer {
    position: absolute;
    top: 10px;
    right: 10px;
}

p {
    font-weight: bold;

}

.submitbtn {
    color: white;
    background-color: purple;
    padding: 5px 5px 5px 5px;

}

h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;

}

.choice-container {
    display: flex;
    line-height: 10px;
    text-align:left;
}

